//<script type="text/jsx">

function Usuarios() {

  const [dataSource, setDataSource] = useState([]);
  const [renderTabla, setRenderTabla] = useState(0);

  useEffect(listarUsuarios, [renderTabla]);
  const history = useHistory();

  function listarUsuarios() {
    google.script.run
      .withSuccessHandler(res => {
        const usuarios = JSON.parse(res);
        let arreglo = [];

        usuarios.map(usuario => {
          arreglo.push({
            key: usuario.id,
            ...usuario,
            acciones:
            <Fragment >
              
              <Button
                onClick={() => {
                  history.push("/formularioRegistro/" + usuario.id);
                }}>
                Editar
              </Button>

              <button
                className="bg-red-500 text-white rounded-lg px-3 py-2 hover:shadow-xl"
                type="primary"
                onClick={() => { eliminarElUsuario(usuario.id) }}>
                Eliminar
              </button>
            </Fragment> 
          })
        })

        setDataSource(arreglo);

      }).listarUsuarios();
  }

  function eliminarElUsuario(id){

    notificacionGuardando("Eliminando Usuario");  

    google.script.run
      .withSuccessHandler(({titulo, descripcion}) =>{
      notificacionTareaTerminada(titulo, descripcion);
      setRenderTabla(renderTabla + 1);
    }).eliminarUsuario(id);
  }


  const columns = [
    {
      title: 'Nombre completo',
      dataIndex: 'nombreCompleto',
      key: 'nombreCompleto',
    },
    {
      title: 'Correo',
      dataIndex: 'correo',
      key: 'correo',
    },
    {
      title: 'Contraseña',
      dataIndex: 'contrasenia',
      key: 'contrasenia',
    },
    {
      title: 'Acciones',
      dataIndex: 'acciones',
      key: 'acciones',
    },
  ];



  return (
    <Table dataSource={dataSource} columns={columns} />
  )
}



//</script>
